.Rproj.user
.Rhistory
.RData

python/misc/*

.ipynb_checkpoints
*/.ipynb_checkpoints/*
**.ipynb
**.pickle


**/.idea/*
**/.ipynb_checkpoints/*
**/__pycache__/*
**/.tox/*
**/dalex.egg-info/*
**venv/**
*.ipynb
