.Rproj.user
.Rhistory
.RData

python/misc/*
python/dalex/.vscode/*
python/dalex/pdoc_template/*

.ipynb_checkpoints
*/.ipynb_checkpoints/*
**.ipynb
**.pickle


**/.idea/*
**/.ipynb_checkpoints/*
**/__pycache__/*
**/.tox/*
**/dalex.egg-info/*
**venv/**
*.ipynb

*.zip

**/catboost_info/*
**/mlruns/*
*.log
